# coding: utf-8

"""
    mVisa API

    mVisa is a simple, secure and fast way to pay and be paid using mobile phones. mVisa enables a range of payment use cases and is technology agnostic-leveraging evolving POS environment such as QR codes and works on both smart or feature phones.

    OpenAPI spec version: v1
    Contact: 
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re
import json

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class MvisaApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()

        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def getcash_in_push_payments_get(self, status_identifier, **kwargs):
        """
        Get Cash In Push Payment
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.getcash_in_push_payments_get(status_identifier, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str status_identifier: Status Identifier (required)
        :return: CashInPushPaymentsGetgetResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.getcash_in_push_payments_get_with_http_info(status_identifier, **kwargs)
        else:
            (data) = self.getcash_in_push_payments_get_with_http_info(status_identifier, **kwargs)
            return data

    def getcash_in_push_payments_get_with_http_info(self, status_identifier, **kwargs):
        """
        Get Cash In Push Payment
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.getcash_in_push_payments_get_with_http_info(status_identifier, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str status_identifier: Status Identifier (required)
        :return: CashInPushPaymentsGetgetResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['status_identifier']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method getcash_in_push_payments_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'status_identifier' is set
        if ('status_identifier' not in params) or (params['status_identifier'] is None):
            raise ValueError("Missing the required parameter `status_identifier` when calling `getcash_in_push_payments_get`")


        collection_formats = {}

        path = '/visadirect/mvisa/v1/cashinpushpayments/{statusIdentifier}'.replace('{format}', 'json')
        resource_path = 'cashinpushpayments/{statusIdentifier}'
        path_params = {}
        if 'status_identifier' in params:
            path_params['statusIdentifier'] = params['status_identifier']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['basicAuth']

        return self.api_client.call_api(path, resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='CashInPushPaymentsGetgetResponse',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def getcash_out_payments_get(self, status_identifier, **kwargs):
        """
        Get Cash Out Push Payment
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.getcash_out_payments_get(status_identifier, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str status_identifier: Status Identifier (required)
        :return: CashOutPaymentsGetgetResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.getcash_out_payments_get_with_http_info(status_identifier, **kwargs)
        else:
            (data) = self.getcash_out_payments_get_with_http_info(status_identifier, **kwargs)
            return data

    def getcash_out_payments_get_with_http_info(self, status_identifier, **kwargs):
        """
        Get Cash Out Push Payment
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.getcash_out_payments_get_with_http_info(status_identifier, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str status_identifier: Status Identifier (required)
        :return: CashOutPaymentsGetgetResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['status_identifier']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method getcash_out_payments_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'status_identifier' is set
        if ('status_identifier' not in params) or (params['status_identifier'] is None):
            raise ValueError("Missing the required parameter `status_identifier` when calling `getcash_out_payments_get`")


        collection_formats = {}

        path = '/visadirect/mvisa/v1/cashoutpushpayments/{statusIdentifier}'.replace('{format}', 'json')
        resource_path = 'cashoutpushpayments/{statusIdentifier}'
        path_params = {}
        if 'status_identifier' in params:
            path_params['statusIdentifier'] = params['status_identifier']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['basicAuth']

        return self.api_client.call_api(path, resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='CashOutPaymentsGetgetResponse',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def getmerchant_push_payment_get(self, status_identifier, **kwargs):
        """
        Get Merchant Push Payment
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.getmerchant_push_payment_get(status_identifier, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str status_identifier: Status Identifier (required)
        :return: MerchantPushPaymentGetgetResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.getmerchant_push_payment_get_with_http_info(status_identifier, **kwargs)
        else:
            (data) = self.getmerchant_push_payment_get_with_http_info(status_identifier, **kwargs)
            return data

    def getmerchant_push_payment_get_with_http_info(self, status_identifier, **kwargs):
        """
        Get Merchant Push Payment
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.getmerchant_push_payment_get_with_http_info(status_identifier, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str status_identifier: Status Identifier (required)
        :return: MerchantPushPaymentGetgetResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['status_identifier']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method getmerchant_push_payment_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'status_identifier' is set
        if ('status_identifier' not in params) or (params['status_identifier'] is None):
            raise ValueError("Missing the required parameter `status_identifier` when calling `getmerchant_push_payment_get`")


        collection_formats = {}

        path = '/visadirect/mvisa/v1/merchantpushpayments/{statusIdentifier}'.replace('{format}', 'json')
        resource_path = 'merchantpushpayments/{statusIdentifier}'
        path_params = {}
        if 'status_identifier' in params:
            path_params['statusIdentifier'] = params['status_identifier']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['basicAuth']

        return self.api_client.call_api(path, resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='MerchantPushPaymentGetgetResponse',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def postcash_in_push_payments(self, cash_in_push_paymentspost_payload, **kwargs):
        """
        Create Cash In Push Payment
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.postcash_in_push_payments(cash_in_push_paymentspost_payload, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param CashInPushPaymentspostPayload cash_in_push_paymentspost_payload: Request body for creating in cash in push payment (required)
        :return: CashInPushPaymentspostResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.postcash_in_push_payments_with_http_info(cash_in_push_paymentspost_payload, **kwargs)
        else:
            (data) = self.postcash_in_push_payments_with_http_info(cash_in_push_paymentspost_payload, **kwargs)
            return data

    def postcash_in_push_payments_with_http_info(self, cash_in_push_paymentspost_payload, **kwargs):
        """
        Create Cash In Push Payment
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.postcash_in_push_payments_with_http_info(cash_in_push_paymentspost_payload, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param CashInPushPaymentspostPayload cash_in_push_paymentspost_payload: Request body for creating in cash in push payment (required)
        :return: CashInPushPaymentspostResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cash_in_push_paymentspost_payload']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method postcash_in_push_payments" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'cash_in_push_paymentspost_payload' is set
        if ('cash_in_push_paymentspost_payload' not in params) or (params['cash_in_push_paymentspost_payload'] is None):
            raise ValueError("Missing the required parameter `cash_in_push_paymentspost_payload` when calling `postcash_in_push_payments`")


        collection_formats = {}

        path = '/visadirect/mvisa/v1/cashinpushpayments'.replace('{format}', 'json')
        resource_path = 'cashinpushpayments'
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'cash_in_push_paymentspost_payload' in params:
            body_params = params['cash_in_push_paymentspost_payload']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['basicAuth']

        return self.api_client.call_api(path, resource_path, 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='CashInPushPaymentspostResponse',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def postcash_out_push_payments_post(self, cash_out_push_payments_postpost_payload, **kwargs):
        """
        Create Cash Out Push Payment
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.postcash_out_push_payments_post(cash_out_push_payments_postpost_payload, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param CashOutPushPaymentsPostpostPayload cash_out_push_payments_postpost_payload: Request body for creating in cash out push payment (required)
        :return: CashOutPushPaymentsPostpostResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.postcash_out_push_payments_post_with_http_info(cash_out_push_payments_postpost_payload, **kwargs)
        else:
            (data) = self.postcash_out_push_payments_post_with_http_info(cash_out_push_payments_postpost_payload, **kwargs)
            return data

    def postcash_out_push_payments_post_with_http_info(self, cash_out_push_payments_postpost_payload, **kwargs):
        """
        Create Cash Out Push Payment
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.postcash_out_push_payments_post_with_http_info(cash_out_push_payments_postpost_payload, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param CashOutPushPaymentsPostpostPayload cash_out_push_payments_postpost_payload: Request body for creating in cash out push payment (required)
        :return: CashOutPushPaymentsPostpostResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cash_out_push_payments_postpost_payload']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method postcash_out_push_payments_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'cash_out_push_payments_postpost_payload' is set
        if ('cash_out_push_payments_postpost_payload' not in params) or (params['cash_out_push_payments_postpost_payload'] is None):
            raise ValueError("Missing the required parameter `cash_out_push_payments_postpost_payload` when calling `postcash_out_push_payments_post`")


        collection_formats = {}

        path = '/visadirect/mvisa/v1/cashoutpushpayments'.replace('{format}', 'json')
        resource_path = 'cashoutpushpayments'
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'cash_out_push_payments_postpost_payload' in params:
            body_params = params['cash_out_push_payments_postpost_payload']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['basicAuth']

        return self.api_client.call_api(path, resource_path, 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='CashOutPushPaymentsPostpostResponse',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def postmerchant_push_payments_post(self, merchant_push_payments_postpost_payload, **kwargs):
        """
        Create Merchant Push Payment
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.postmerchant_push_payments_post(merchant_push_payments_postpost_payload, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param MerchantPushPaymentsPostpostPayload merchant_push_payments_postpost_payload: Request body for creating in merchant push payment (required)
        :return: MerchantPushPaymentsPostpostResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.postmerchant_push_payments_post_with_http_info(merchant_push_payments_postpost_payload, **kwargs)
        else:
            (data) = self.postmerchant_push_payments_post_with_http_info(merchant_push_payments_postpost_payload, **kwargs)
            return data

    def postmerchant_push_payments_post_with_http_info(self, merchant_push_payments_postpost_payload, **kwargs):
        """
        Create Merchant Push Payment
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.postmerchant_push_payments_post_with_http_info(merchant_push_payments_postpost_payload, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param MerchantPushPaymentsPostpostPayload merchant_push_payments_postpost_payload: Request body for creating in merchant push payment (required)
        :return: MerchantPushPaymentsPostpostResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['merchant_push_payments_postpost_payload']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method postmerchant_push_payments_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'merchant_push_payments_postpost_payload' is set
        if ('merchant_push_payments_postpost_payload' not in params) or (params['merchant_push_payments_postpost_payload'] is None):
            raise ValueError("Missing the required parameter `merchant_push_payments_postpost_payload` when calling `postmerchant_push_payments_post`")


        collection_formats = {}

        path = '/visadirect/mvisa/v1/merchantpushpayments'.replace('{format}', 'json')
        resource_path = 'merchantpushpayments'
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'merchant_push_payments_postpost_payload' in params:
            body_params = params['merchant_push_payments_postpost_payload']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['basicAuth']

        return self.api_client.call_api(path, resource_path, 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='MerchantPushPaymentsPostpostResponse',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

# ----------------------------------------------------------------------------------------------------------------------
# © Copyright 2018 Visa. All Rights Reserved.
#
# NOTICE: The software and accompanying information and documentation (together, the “Software”) remain the property of
# and are proprietary to Visa and its suppliers and affiliates. The Software remains protected by intellectual property
# rights and may be covered by U.S. and foreign patents or patent applications. The Software is licensed and not sold.
#
# By accessing the Software you are agreeing to Visa's terms of use (developer.visa.com/terms) and privacy policy
# (developer.visa.com/privacy). In addition, all permissible uses of the Software must be in support of Visa products,
# programs and services provided through the Visa Developer Program (VDP) platform only (developer.visa.com).
# THE SOFTWARE AND ANY ASSOCIATED INFORMATION OR DOCUMENTATION IS PROVIDED ON AN “AS IS,” “AS AVAILABLE,” “WITH ALL
# FAULTS” BASIS WITHOUT WARRANTY OR CONDITION OF ANY KIND. YOUR USE IS AT YOUR OWN RISK.
# ----------------------------------------------------------------------------------------------------------------------