# coding: utf-8

"""
    Mobile Push Payment Refund API

    Mobile Push Payment is a simple, secure and fast way to pay and be paid using mobile phones. Mobile Push Payment enables a range of payment use cases and is technology agnostic-leveraging evolving POS environment such as QR codes and works on both smart or feature phones.

    OpenAPI spec version: v1
    Contact: 
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re
import json

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class RefundApiApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()

        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def getmerchandise_return_get(self, status_identifier, **kwargs):
        """
        Read Merchandise Return Transaction
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.getmerchandise_return_get(status_identifier, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str status_identifier: Status Identifier (required)
        :return: MerchandiseReturnGetgetResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.getmerchandise_return_get_with_http_info(status_identifier, **kwargs)
        else:
            (data) = self.getmerchandise_return_get_with_http_info(status_identifier, **kwargs)
            return data

    def getmerchandise_return_get_with_http_info(self, status_identifier, **kwargs):
        """
        Read Merchandise Return Transaction
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.getmerchandise_return_get_with_http_info(status_identifier, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str status_identifier: Status Identifier (required)
        :return: MerchandiseReturnGetgetResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['status_identifier']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method getmerchandise_return_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'status_identifier' is set
        if ('status_identifier' not in params) or (params['status_identifier'] is None):
            raise ValueError("Missing the required parameter `status_identifier` when calling `getmerchandise_return_get`")


        collection_formats = {}

        path = '/visadirect/mvisa/v1/mr/{statusIdentifier}'.replace('{format}', 'json')
        resource_path = 'mr/{statusIdentifier}'
        path_params = {}
        if 'status_identifier' in params:
            path_params['statusIdentifier'] = params['status_identifier']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['basicAuth']

        return self.api_client.call_api(path, resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='MerchandiseReturnGetgetResponse',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def getmerchandise_return_reversal_get(self, status_identifier, **kwargs):
        """
        Read Merchandise Return Reversal Transaction
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.getmerchandise_return_reversal_get(status_identifier, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str status_identifier: Status Identifier (required)
        :return: MerchandiseReturnReversalGetgetResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.getmerchandise_return_reversal_get_with_http_info(status_identifier, **kwargs)
        else:
            (data) = self.getmerchandise_return_reversal_get_with_http_info(status_identifier, **kwargs)
            return data

    def getmerchandise_return_reversal_get_with_http_info(self, status_identifier, **kwargs):
        """
        Read Merchandise Return Reversal Transaction
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.getmerchandise_return_reversal_get_with_http_info(status_identifier, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str status_identifier: Status Identifier (required)
        :return: MerchandiseReturnReversalGetgetResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['status_identifier']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method getmerchandise_return_reversal_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'status_identifier' is set
        if ('status_identifier' not in params) or (params['status_identifier'] is None):
            raise ValueError("Missing the required parameter `status_identifier` when calling `getmerchandise_return_reversal_get`")


        collection_formats = {}

        path = '/visadirect/mvisa/v1/mrr/{statusIdentifier}'.replace('{format}', 'json')
        resource_path = 'mrr/{statusIdentifier}'
        path_params = {}
        if 'status_identifier' in params:
            path_params['statusIdentifier'] = params['status_identifier']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['basicAuth']

        return self.api_client.call_api(path, resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='MerchandiseReturnReversalGetgetResponse',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def postmerchandise_return_post(self, merchandise_return_postpost_payload, **kwargs):
        """
        Merchandise Return Transaction is used to refund (full or partial) sale amount back to consumer.  A merchant may, at its discretion, process a credit into consumer account when a valid transaction was previously processed. This situation can arise when the consumer cancels the purchase, or returns the goods in part or in full, or the merchant agrees to return a part of the payment.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.postmerchandise_return_post(merchandise_return_postpost_payload, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param MerchandiseReturnPostpostPayload merchandise_return_postpost_payload: Request body for creating in merchandise return (required)
        :return: MerchandiseReturnPostpostResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.postmerchandise_return_post_with_http_info(merchandise_return_postpost_payload, **kwargs)
        else:
            (data) = self.postmerchandise_return_post_with_http_info(merchandise_return_postpost_payload, **kwargs)
            return data

    def postmerchandise_return_post_with_http_info(self, merchandise_return_postpost_payload, **kwargs):
        """
        Merchandise Return Transaction is used to refund (full or partial) sale amount back to consumer.  A merchant may, at its discretion, process a credit into consumer account when a valid transaction was previously processed. This situation can arise when the consumer cancels the purchase, or returns the goods in part or in full, or the merchant agrees to return a part of the payment.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.postmerchandise_return_post_with_http_info(merchandise_return_postpost_payload, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param MerchandiseReturnPostpostPayload merchandise_return_postpost_payload: Request body for creating in merchandise return (required)
        :return: MerchandiseReturnPostpostResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['merchandise_return_postpost_payload']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method postmerchandise_return_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'merchandise_return_postpost_payload' is set
        if ('merchandise_return_postpost_payload' not in params) or (params['merchandise_return_postpost_payload'] is None):
            raise ValueError("Missing the required parameter `merchandise_return_postpost_payload` when calling `postmerchandise_return_post`")


        collection_formats = {}

        path = '/visadirect/mvisa/v1/mr'.replace('{format}', 'json')
        resource_path = 'mr'
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'merchandise_return_postpost_payload' in params:
            body_params = params['merchandise_return_postpost_payload']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['basicAuth']

        return self.api_client.call_api(path, resource_path, 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='MerchandiseReturnPostpostResponse',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def postmerchandise_return_reversal_post(self, merchandise_return_reversal_postpost_payload, **kwargs):
        """
        Merchandise Return Reversal Transaction is used to reverse the refund amount that sent to the consumer. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.postmerchandise_return_reversal_post(merchandise_return_reversal_postpost_payload, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param MerchandiseReturnReversalPostpostPayload merchandise_return_reversal_postpost_payload: Request body for creating in merchandise return reversal (required)
        :return: MerchandiseReturnReversalPostpostResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.postmerchandise_return_reversal_post_with_http_info(merchandise_return_reversal_postpost_payload, **kwargs)
        else:
            (data) = self.postmerchandise_return_reversal_post_with_http_info(merchandise_return_reversal_postpost_payload, **kwargs)
            return data

    def postmerchandise_return_reversal_post_with_http_info(self, merchandise_return_reversal_postpost_payload, **kwargs):
        """
        Merchandise Return Reversal Transaction is used to reverse the refund amount that sent to the consumer. 
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.postmerchandise_return_reversal_post_with_http_info(merchandise_return_reversal_postpost_payload, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param MerchandiseReturnReversalPostpostPayload merchandise_return_reversal_postpost_payload: Request body for creating in merchandise return reversal (required)
        :return: MerchandiseReturnReversalPostpostResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['merchandise_return_reversal_postpost_payload']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method postmerchandise_return_reversal_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'merchandise_return_reversal_postpost_payload' is set
        if ('merchandise_return_reversal_postpost_payload' not in params) or (params['merchandise_return_reversal_postpost_payload'] is None):
            raise ValueError("Missing the required parameter `merchandise_return_reversal_postpost_payload` when calling `postmerchandise_return_reversal_post`")


        collection_formats = {}

        path = '/visadirect/mvisa/v1/mrr'.replace('{format}', 'json')
        resource_path = 'mrr'
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'merchandise_return_reversal_postpost_payload' in params:
            body_params = params['merchandise_return_reversal_postpost_payload']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['basicAuth']

        return self.api_client.call_api(path, resource_path, 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='MerchandiseReturnReversalPostpostResponse',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

# ----------------------------------------------------------------------------------------------------------------------
# © Copyright 2018 Visa. All Rights Reserved.
#
# NOTICE: The software and accompanying information and documentation (together, the “Software”) remain the property of
# and are proprietary to Visa and its suppliers and affiliates. The Software remains protected by intellectual property
# rights and may be covered by U.S. and foreign patents or patent applications. The Software is licensed and not sold.
#
# By accessing the Software you are agreeing to Visa's terms of use (developer.visa.com/terms) and privacy policy
# (developer.visa.com/privacy). In addition, all permissible uses of the Software must be in support of Visa products,
# programs and services provided through the Visa Developer Program (VDP) platform only (developer.visa.com).
# THE SOFTWARE AND ANY ASSOCIATED INFORMATION OR DOCUMENTATION IS PROVIDED ON AN “AS IS,” “AS AVAILABLE,” “WITH ALL
# FAULTS” BASIS WITHOUT WARRANTY OR CONDITION OF ANY KIND. YOUR USE IS AT YOUR OWN RISK.
# ----------------------------------------------------------------------------------------------------------------------